.container {
  width: 95%;
  margin: 10px;
  position: relative;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 4px 24px;
}

.searchBar {
  text-align: center;
  padding: 8px 0px;
  width: 60%;
  font-size: 20px;
  border: none;
}

.dropdown {
  margin-top: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s;
}